---
interface Props {
    name: string;
    url: string;
    isbig?: boolean;
}
const {name, url, isbig=false}= Astro.props;
const parts = url.split('/');
const number = parts[parts.length - 2];
const id= number
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${number}.png`

---

<a href={`/pokemons/${name}`} class:list={[
    "flex flex-col border-white items-center p-1 gap-4",
    !isbig && 'border rounded-xl'
]}>
    <img
    transition:name={`${name}-name`}
    class:list={[
        'w-26 h-26',
        !isbig && 'w-22 h-22'
    ]}
    src={imgSrc} 
    alt={name}/>
    <span class:list={[
        "capitalize",
        isbig && 'text-3xl'
    ]}>#{number} {name}</span>
</a>